@tailwind base;
@tailwind components;
@tailwind utilities;

main.dark {
    color: rgb(235, 235, 235);
}

@keyframes fadeCardsScale {
    from {
        opacity: 0;
        transform: scale(0.7);
    }
    to {
        transform: scale(1);
    }
}

html {
    margin: 0;
    width: 100%;
    /* --page-max-width: 900px; */
}
